@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: "Roboto", sans-serif;
    background-color: #F1FFE7;
  }

  * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
}